main {
	background-color: #fff;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 4em;
}

.main_header {
	color: #fff;
}

.main_header img {
	max-width: 100%;
	height: auto;
}

.main_header h1 {
	font-family: 'Open Sans';
	font-size: 7em;
	margin: 0;
	position: absolute;
	top: 10%;
	left: 20%;
}
h2 {
	font-family: 'Open Sans';
	font-size: 5em;
}
.section_content {
	background-color: #f4e4c1;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1em;
	opacity: 0.4;
}

p {
	font-family: "Roboto";
	font-size: 2em;
}

ul {
	list-style: none;
}

li {
	display: inline;
	margin: 1em;
	padding: 0.3em;
	font-family: 'Open Sans';
	font-size: 1em;	
}

li:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.highlighted .section_content {
	opacity: 1.0;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #e4c580;
	width: 100%;
	z-index: 10;
}